/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

body {
    font-family: 'Hind', sans-serif;
}
a {
    text-decoration: underline;
    font-family: 'Hind', sans-serif;  
}
a:hover{
    text-decoration: none;
}
ul li {
    list-style: none;
}



/*Header Styles*/

.wallpaper {  
    position: relative;
    color: white;
}
.wallpaper button {
    border-radius: 5px; 
}
.logo {
    margin-left: 25%;
}
.headernav {
    margin-right: 25%; 
    margin-top: -50px;
    text-align: right;
}
.headernav a {
    text-decoration: none;
}
.headernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.headernav li {
    float: right;  
    margin-left: 15px;
    font-weight: bold;
    font-size: 0.8em;
}
.headertop {
    position: relative;
    top:-250px;
}
.headermiddle {
    position: relative;
    margin-top: -240px;
    margin-left: 25%;
    font-size: 0.7em;
    color: grey; 
    font-weight: bold;
}
.headermiddle a,a:hover{
    color: lightgray; 
}
.headerbottom {
    position: relative;
    margin-left: 25%;
    width: 100%;
    border-style: dashed;
    border-color: magenta;

}
.headerbottom h1{
    font-size: 1.5em;
}
.bikeshoplogo {
    float: left;
    margin-top: -135px;
    background-color: greenyellow;
    border-radius: 5px;
    width: 130px;
    height: 130px;

}
.bikeshoplogo img {
    margin: 5px;
    float: left;
}
.container {
    float: left;
}
.paratitle {
    margin-top: -180px;
    margin-left: 140px;
    float: left;
}
.paratitle h1 {
    display:inline;
}
.paratitle i {
    font-size: 1.8em;
    margin: 8px;
    display:inline;
}
.paratitle i:hover {
    color: red;
    margin: 8px;
}
.score {
    margin-top: -122px;
    margin-left: 140px;
    font-size: 0.8em;
}
.score button {
    background-color: limegreen;
    width: 60px;
    height: 30px;
    color: white;
}
#scorebutton {
    background-color: yellowgreen;
    width: 60px;
    height: 30px;
    color: white;
}
.average {    
    margin-left: 135px;
    margin-top: -75px;
    font-size: 0.8em;
    float:left;
    color: lightgray;
    font-weight: bold;
    padding: 3px;
}
.average ul {
    margin-left: -15px;
    overflow: hidden;
}
.average li {
    float: left;  
    font-weight: bold;
    font-size: 0.8em;
    border-left: solid 2px grey;
    line-height: 0.5;
    margin-left: 15px;
}
.average h6 {
    color: white;
    font-weight: normal;  
    margin: 5px;
}
.average p {
    margin: 5px;
    color: grey;
}

#mediosdepagobtn button{
    float: left;
    background-color: transparent;
    color: white;
    font-size: 12px;
    border-left: transparent;
    border: 1px solid white;
    border-radius: 4px;
    height: 35px;
    width: 150px;
}

.novedades {
    margin-left: 730px;
    font-size: 0.7em;
    margin-top: 21px;
}


/*Shop Cart Styles*/
.carrito {
    margin-right: 25%;
    width: 15%;
    height: 300px;
    float: right;
    border: 1px dashed darkgrey;
    border-radius: 3px;
}
.carrito img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    height: auto;
}
.carrito h4 {
    color: #3a3a3a;
    margin: 12px;
    font-size: 1.3em;
}
.carrito h6 {
    text-align: center;
}
.carrito p {
    text-align: center;
}
.carrito a {
    color: lightgray;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#empty {
    font-size: 12px;
}

/*Main Styles*/

.main {
    width: 35%; 
    margin-left: 25%;
    margin-top: 200px;
}
.navmain {
    float: left;
    width: 95%;  
    border-bottom: 1px solid darkgrey;
}
.navmain ul {
    list-style-type: none;
    width: 100%;
}
.navmain li {
    float: left;  
    margin-left: 15px;
    font-size: 0.8em;
}
.navmain a {
    color: grey;
    font-size: 1.2em;
    border-bottom: 3px solid red;
    margin-right: 30px;
}
.navmain a:hover {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.dropdownsearch {
    width: 100%;
}

/*DropDown Style*/
.dropbtn {
    background-color: white;
    color: black;
    padding: 3px;
    font-size: 12px;
    border-bottom: 1px solid darkgrey;
    margin-bottom: 8px;
    margin-top: 15px;
    width: 270px;
    height: 30px;
    border-radius: 4px;
}
.dropbtn i {
    color: darkgrey;
}
.dropdown {
    position: absolute;
    display: inline-block;
    float: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
    min-width: 270px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {border-bottom: 1px solid black;}
.search {
    float: right;
    width: 270px;
    height: 30px;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}
.search i {
    color: darkgrey;
    float: right;
    margin-right: 30px;
    margin-top: -20px;
}
.nav {
    float: left;
    margin-top: 15px;
}

.recomendation {
    float: left;
    margin-top: 60px;
    width: 95%;
    border-bottom: 1px solid darkgrey;
}
.recomendation h4 {
    display:inline;
    color: #3a3a3a;
    font-size: 1.3em;
}
.recomendation p {
    float: right;
}
.recomendation i {
    color: red;
    margin: 5px;
}


/*Slider Style*/
.slider {
    float: left;
    width: 100%;
}
.slider img {
    width: 200px;
}
.slider a {
    color: darkgray;
}
.slider a:hover {
    color: black;
    text-decoration: none;
}
.sliderprods {
    width: 100%;
}
.sliderbx1 h4 {
    color: black;
    width: 200px;
}
.sliderbx1 p {
    width: 200px;
    text-align: justify;
}
.sliderbx1 i {
    color: red;
}
/*Combo Styles*/
.combo {
    width: 100%;
    float: left;  
}
.listprod {
    float: left;
    text-align: justify;
}
.listprod i {
    color: red;
    margin: 5px;
}


/*Footer Styles*/

.footer {
    float: left;
    background-color: greenyellow;
    width: 100%;
    height: 300px;
}
